.todo {
    width: 500px;
    margin: 0 auto;
    padding: 40px 0;
    font-family: sans-serif;
    h1 {
        margin: 0;
        font-size: 25px;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-top: 20px;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all 0.3s ease-in-out;
            border-radius: 10px;
            overflow: hidden;
            padding: 5px 15px;
            &:hover {
                background: rgb(243, 243, 243);
            }
        }
        label {
            flex-grow: 1;
        }
    }
    &__item-checkbox {
        margin-right: 15px;
    }
    &__item-button {
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
    &__text-field {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
        background: rgb(243, 243, 243);
        border-radius: 10px;
        input {
            background: transparent;
            border: none;
            padding: 10px;
            overflow: hidden;
            border-radius: 10px;
            &:first-of-type {
                flex-grow: 1;
            }
            &:focus {
                box-shadow: inset 0px 0px 0px 2px rgb(64, 114, 206);
                outline: none;
            }
        }
    }
}